// @import ("blocks/page-body.less");

.page-body {
  height: 100%;
  font-size: 18px;
  font-family: "Oswaldregular", "Arial", sans-serif;
  line-height: 27px;
  min-height: 100%;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
}
