.product {
  margin: 0;
  padding: 0;
}

.product__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin: 0 20px;
    padding: 0;

    .product__item--slim {
      margin-bottom: 30px;
    }
  }

  @media (min-width: @desktop-width) {
    justify-content: center;
    padding: 0;
    flex-direction: row;

    .product__item--slim {
      margin-bottom: 0;
      margin-right: 80px;
    }
  }
}

.product__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: @basic_grey;
  list-style: none;
  margin: 20px;
  padding: 20px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 408px 300px;
    grid-template-rows: 136px 100px 136px;
    padding: 0;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    // display: flex;
    // justify-content: flex-start;
    grid-template-columns: 180px 390px;
    grid-template-rows: 180px 74px 120px;
    margin: 0;
    padding: 0;
  }
}


.product__logo {
  margin-right: 20px;
  align-self: center;

  @media (min-width: @tablet-width) {
    grid-column: 2;
    grid-row: 2;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1;
    grid-row: 1;
    // margin: 41px 62px 39px auto;
  }
}

@media (min-width: @tablet-width) {
  .product__item--slim > .product__logo {
    width: 200px;
    height: 211px;

    @media (min-width: @desktop-width) {
      width: 100px;
      height: 106px;
    }
  }
}

@media (min-width: @tablet-width) {
  .product__item--pro > .product__logo {
    width: 268px;
    height: 200px;

    @media (min-width: @desktop-width) {
      width: 134px;
      height: 100px;
    }
  }
}

.product__title {
  font-family: "Oswaldregular", "Ariel", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  align-self: center;

  @media (min-width: @tablet-width) {
    grid-column: 1/1;
    grid-row: 1/1;
    font-size: 36px;
    line-height: 36px;
    margin: 77px 0 24px 52px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
  }
}

.product__description {
  padding-bottom: 14px;
  margin-bottom: 15px;
  font-family: "Ariel", "Oswaldregular", sans-serif;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    grid-column: 1;
    grid-row: 2/3;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 0 52px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    margin: 0 50px 0 50px;
    padding: 0;
  }
}

.product__more a {
  text-decoration: none;
  color: black;
  font-family: "Oswaldregular", "Ariel", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.product__more {
  display: flex;
  align-items: center;
  margin-right: 17px;
}

@media (min-width: @tablet-width) {
  .product__more {
    grid-column: 1;
    grid-row: 3/4;
    margin: 48px 0 53px 52px;
  }
}

@media (min-width: @desktop-width) {
  .product__more {
    margin: 23px 0 55px 50px;
  }
}
